# 数据库文件
*.sqlite3

# 预编译文件
*.pyc 
 
# 迁移文件
/familyManage/migrations
/billsManage/migrations
/messageManage/migrations
/userManage/migrations
/borrowingMoneyManagement/migrations

# 编辑器留下的文件
.idea/
__pycache__/

# 敏感信息
/FamilyPropertyMS/util/OAuth.py